<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aracna.capacitor.biometric">

    <application>
        <activity
            android:name="com.aracna.capacitor.biometric.BiometricPromptActivity"
            android:theme="@style/AppTheme.Transparent" />
    </application>

</manifest>
